html,body{
    font-size: $default-font-size;
    font-family: $font-family;
}
body{
    @include padding-top(56px);
    @at-root{
        .nav-link{
            @include font-size(14px);
        }
        .carousel-caption{
            bottom:rfs-fluid-value(150px);
        }
    }
}