@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-VF.woff2') format('woff2');
}


$default-font-size:16px;
$font-family:'Montserrat';



$default-blue:#3954D9;

$utilities: (
"background-color": (
      property: background-color,
      class: bg,
      values: map-merge(
        $theme-colors,
        ('default-blue': $default-blue)
      )
    ),
);